# Autodetect text files
* text=auto

# ...Unless the name matches the following
# overriding patterns

# Definitively text files 
*.txt text
*.bat text
*.cs text

# Ensure those won't be messed up with
*.jpg binary
*.png binary
*.exe binary
*.data binary
